<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744695216061-7auqqenfjnhkiqi1u2tm7r1i4aqh8is3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744695216061-7auqqenfjnhkiqi1u2tm7r1i4aqh8is3</string>
	<key>API_KEY</key>
	<string>AIzaSyBrj3hYK_j01doU-1kE0H-FSndhCKgeXIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>744695216061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>church.wpa.beapp.dev</string>
	<key>PROJECT_ID</key>
	<string>wpa-be-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>wpa-be-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744695216061:ios:1a10e6305635d014da84d4</string>
</dict>
</plist>